---
layout: default
---

<div class="layout_padding"
    style="height: 80vh;margin-top: 8vh; text-align: center;font-size: 20px;background-image: url('/assets/images/products/{{page.categories}}/{{page.img}}');">
    <div class="container">
        <div class="row justify-content-center">
            <div style="background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.0px );
            -webkit-backdrop-filter: blur( 13.0px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );padding: 2%;margin: 4%;" class="col-lg-6">
                <h1>
                    <b>{{page.title}}</b>
                </h1>

                <h4>
                    <b>Slab Sizes</b>: Cutter Slabs, Mini Gangsaw Slabs, Gangsaw Slabs<br>
                    <b>Cut Size</b>: 30cm X 30cm, 30cm X 60cm, 60cm X 60cm, 60cm X 120cm, 120cm X 120cm & Customized
                    Sizes also available<br>
                    <b>Finishes</b>: Polished, Lapatro, Leather, Shot Blast, Flamed, Antique, Brushed & Honed<br>
                    <b>Thickness</b>: 17mm, 20mm, 30mm, 40mm, 60mm & As per Requirement<br><br>
                </h4>
            </div>
        </div>
    </div>
</div>